<footer>
    <div class="blocks container">
        <div>
            <span class="logo">CYBER-POLIGON</span>
        </div>
        <div>
            <h4>Contact us</h4>
            <p>bydamirproduction@gmail.com</p>
            <p><a href="https://t.me/zxrubx">Telegram</a></p>
        </div>
    </div>
    <hr>
    <p>Copyright ® 2025 CYBER-POLIGON</p>
</footer>